<DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            Chat Bot Manager
            {% if title %}
                &mdash; {{ title }}
            {% endif %}
        </title>

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/custom.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        Chat Bot Manager
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.Type %}
                            <li><a href="/messages">Messages</a></li>
                            <li><a href="/queue">Queue</a></li>
                            {% if user.IsStaff %}
                                <li><a href="/twitter">Twitter</a></li>
                                <li><a href="/settings">Settings</a></li>
                            {% endif %}
                            {% if user.IsAdmin %}
                                <li><a href="/users">Users</a></li>
                            {% endif %}
                            <li><a href="/users/logout">Logout</a></li>
                        {% else %}
                            <li><a href="/users/login">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% for a in alerts %}
                <div class="alert alert-{{ a.Type }}">
                    <button type="button" class="close" data-dismiss="alert">
                        <span>&times;</span>
                    </button>
                    {{ a.Body|capfirst }}.
                </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>

        <br><br>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-muted">
                        Copyright 2016 &mdash;
                        <a href="https://quickmediasolutions.com">
                            Nathan Osman
                        </a>
                    </p>
                    <br>
                </div>
            </div>
        </div>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/custom.js"></script>
    </body>
</html>
