{% extends "base.html" %}

{% block content %}
    <h2>Welcome!</h2>
    <p>
        This web application was developed for the <a href="http://chat.stackexchange.com/rooms/201/ask-ubuntu-general-room">Ask Ubuntu General Room</a> by <a href="https://github.com/nathan-osman">Nathan Osman</a> based on an idea by one of the moderators. Here is a basic overview of what the application does:
    </p>
    <ul>
        <li>the <a href="http://chat.stackexchange.com/transcript/201">chat transcript</a> is scraped at regular intervals</li>
        <li>messages are evaluated and awesome ones are selected</li>
        <li>registered users select interesting ones and queue them</li>
        <li>every so often, a queued message is tweeted</li>
    </ul>
    <p>
        For the curious, the entire application is available <a href="https://github.com/AskUbuntu/tbot">on GitHub</a>.
    </p>
    <hr>
    <h3>Recent Tweets</h3>
    <p>
        Whenever a message is tweeted by the account, it will be displayed below with the author and a link to the original context of the message. Information about the tweet (including star count) was correct at the time of scraping.
    </p>
    {% import "util.html" message %}
    {% for t in tweets %}
        <hr>
        <strong>
            Tweeted on
            <a href="//twitter.com/statuses/{{ t.TweetID }}" target="_blank">
                {{ t.TweetTime|date:"January 2, 2006 15:04:05" }}</a>:
        </strong>
        <div class="media">
            {{ message(t.Message) }}
        </div>
    {% empty %}
        <hr>
        <p class="text-muted text-center">No messages tweeted</p>
        <hr>
    {% endfor %}
{% endblock %}
