{% extends "base.html" %}

{% block content %}
    <h2>Messages</h2>
    <p>
        The scraper runs at regular intervals, parsing messages from the <a href="http://chat.stackexchange.com/transcript/201">chat transcript</a> and evaluating them to determine which ones may be worth sharing. The ones that it has selected are shown below:
    </p>
    {% for m in messages %}
        <hr>
        <div class="media">
            <div class="media-left">
                <img src="//placehold.it/64x64" class="media-object">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ m.Author }}</h4>
                <p class="text-muted">
                    {{ m.String }}
                </p>
            </div>
            <div class="media-right">
                <nobr>
                    <form action="/messages/queue" method="post" class="form-inline">
                        <input type="hidden" name="id" value="{{ m.ID }}">
                        <button type="submit" class="btn btn-sm btn-primary">Queue</button>
                    </form>
                    <form action="/messages/delete" method="post" class="form-inline">
                        <input type="hidden" name="id" value="{{ m.ID }}">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </nobr>
            </div>
        </div>
    {% empty %}
        <hr>
        <p class="text-muted text-center">No messages found</p>
        <hr>
    {% endfor %}
{% endblock %}
