{% extends "base.html" %}

{% block content %}
    <h2>Messages</h2>
    <p>
        The scraper runs at regular intervals, parsing messages from the <a href="http://chat.stackexchange.com/transcript/201">chat transcript</a> and evaluating them to determine which ones may be worth sharing. The ones that it has selected are shown below:
    </p>
    <p>
        The next scheduled scrape will be in <strong>{{ next_scrape }} minute(s)</strong>.
    </p>
    {% if user.IsStaff %}
        <form action="/messages/scrape" method="post">
            <button type="submit" class="btn btn-xs btn-primary">Scrape Now</button>
        </form>
    {% endif %}
    {% import "util.html" message %}
    {% for m in messages %}
        <hr>
        <div class="media">
            {{ message(m) }}
            <div class="media-right">
                <nobr>
                    {% if user.IsStaff %}
                        <a href="/messages/{{ m.ID }}/edit" class="btn btn-xs btn-info">Edit</a>
                    {% endif %}
                    <form action="/messages/queue" method="post" class="form-inline">
                        <input type="hidden" name="id" value="{{ m.ID }}">
                        <button type="submit" class="btn btn-xs btn-primary">Queue</button>
                    </form>
                    <form action="/messages/delete" method="post" class="form-inline">
                        <input type="hidden" name="id" value="{{ m.ID }}">
                        <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                    </form>
                </nobr>
            </div>
        </div>
    {% empty %}
        <hr>
        <p class="text-muted text-center">No messages found</p>
        <hr>
    {% endfor %}
{% endblock %}
