{% extends "base.html" %}

{% block content %}
    <h2>Set Password</h2>
    <p>
        Please use the form below to set your new password.
    </p>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <form method="post">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password2">Confirm</label>
                    <input type="password" name="password2" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Continue</button>
            </form>
        </div>
    </div>
{% endblock %}
