{% macro message(m) export %}
    <div class="media-left">
        <img src="{{ m.AuthorImage }}" class="media-object gravatar">
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{ m.Author }}</h4>
        <p class="text-muted">
            {% if m.Onebox %}<a href="{{ m.Body }}" target="_blank">{% endif %}
            {{ m.String }}
            {% if m.Onebox %}</a>{% endif %}
        </p>
        <p class="text-muted small">
            <a href="{{ m.URL }}" target="_blank">
                {{ m.Created|date:"January 2, 2006" }}
            </a>
            &nbsp;
            <span class="glyphicon glyphicon-star small"></span>
            {{ m.Stars }}
        </p>
    </div>
{% endmacro %}
