/**
 * Custom CSS for tbot
 * Copyright 2016 - Nathan Osman
 */

.form-inline {
    display: inline;
}

.gravatar {
    height: 48px;
    width: 48px;
}

.table-outline {
    border: 1px solid #ddd;
}

.table th,
.table td {
    vertical-align: middle !important;
}

/* Ensure the page is never wider than 992px. */
@media (min-width: 768px) {
    .container { max-width: 750px; }
}
