{{define "title"}}
    <title>Users</title>
{{end}}

{{define "content"}}
    <h3>User Accounts</h3>
    <p class="text-muted">
        The table below shows all of the registered users and their current status. The buttons on the right can be used to modify a user's privileges or delete them entirely.
    </p>
    <table class="table table-striped table-outline table-condensed">
        <tr>
            <th>Username</th>
            <th>Type</th>
            <th>Created</th>
            <th></th>
        </tr>
        {{range $name, $user := .Users}}
            <tr>
                <td>{{$name}}</td>
                <td>{{$user.Type}}</td>
                <td>{{$user.Created}}</td>
                <td>
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="4">
                    <div class="text-muted text-center small">Empty</div>
                </td>
            </tr>
        {{end}}
    </table>
    <br>
    <h3>Create User</h3>
    <p class="text-muted">
        Use the form below to create a new user account. Pay special attention to the privileges you are assigning to this user.
    </p>
    <form method="post">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{{end}}
