/**
 * Custom CSS for tbot
 * Copyright 2016 - Nathan Osman
 */

.navbar {
    margin-top: 20px;
}

.table.table-outline {
    border: 1px solid #ddd;
}

/* Ensure the page is never wider than 992px. */
@media (min-width: 768px) {
    .container { max-width: 750px; }
}
